<div id="container">
  <%= cell :sidebar %>

<h1>Visitor List</h1>

<table id="visitor_table">
  <thead>
    <tr>
      <td>Sex</td>
      <td>Age</td>
      <td>Access From</td>
      <td>Accessed At</td>
    </tr>
  </thead>

  <tbody id="visitor">
    <% @visitors.each do |vis| %>
      <tr>
        <td><%= vis[:sex] %></td>
        <td><%= vis[:age] %></td>
        <td><%= vis[:access_from] %></td>
        <td><%= vis[:accessed_at] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
