<%= form_for(@bind) do |f| %>
  <% if @bind.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bind.errors.count, "error") %> prohibited this bind from being saved:</h2>

      <ul>
      <% @bind.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :segment_id %><br>
    <%= f.number_field :segment_id %>
  </div>
  <div class="field">
    <%= f.label :con_action_id %><br>
    <%= f.number_field :con_action_id %>
  </div>
  <div class="field">
    <%= f.label :feedback_id %><br>
    <%= f.number_field :feedback_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
