<p id="notice"><%= notice %></p>

<h1>Listing Binds</h1>

<table>
  <thead>
    <tr>
      <th>Segment</th>
      <th>Con action</th>
      <th>Feedback</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @binds.each do |bind| %>
      <tr>
        <td><%= bind.segment_id %></td>
        <td><%= bind.con_action_id %></td>
        <td><%= bind.feedback_id %></td>
        <td><%= link_to 'Show', bind %></td>
        <td><%= link_to 'Edit', edit_bind_path(bind) %></td>
        <td><%= link_to 'Destroy', bind, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bind', new_bind_path %>
