<%= button_to 'New Action', new_con_action_path, method: :get %><br>

<h1>Listing Con Actions</h1>

<table id="con_actions_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Target page</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @con_actions.each do |con_action| %>
      <tr>
        <td><%= con_action.name %></td>
        <td><%= con_action.target_page %></td>
        <td><%= link_to 'Edit', edit_con_action_path(con_action) %></td>
        <td><%= link_to 'Destroy', con_action, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
