<p id="notice"><%= notice %></p>

<h1>Listing Con Actions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Target page</th>
      <th>Text</th>
      <th>Image path</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @con_actions.each do |con_action| %>
      <tr>
        <td><%= con_action.name %></td>
        <td><%= con_action.target_page %></td>
        <td><%= con_action.text %></td>
        <td><%= con_action.image_path %></td>
        <td><%= con_action.link %></td>
        <td><%= link_to 'Show', con_action %></td>
        <td><%= link_to 'Edit', edit_con_action_path(con_action) %></td>
        <td><%= link_to 'Destroy', con_action, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Con action', new_con_action_path %>
